@import url("https://a-user-s-discord-themes.github.io/Bash/app/main.css");

:root{
    /* BG Settings */
    --background: url("https://cdn.discordapp.com/attachments/498857281522237440/667441302513647616/orin.jpg"); /*Your BG*/
    --background-black-opacity: .5; /*Here you can set how dark you want for your background. No image editing*/
    --background-opacity: .7; /*Opacity of your background. Set to 1 if you don't use transparency feature*/
    --background-radius: 10px; /*Set the radius Discord. Set to 0 if you don't use transparency feature. Disabled for linux because it's ugly this enabled in discord with frame*/
    
    /*Avatar/Server Settings*/
    --server-radius: 50%; /*Change the server radius*/
    --avatar-radius: 50%; /*Change the avatar radius*/

    /*Color Settings*/
    --main-color: rgb(15, 124, 82); /*Replace some colors*/
    --ping-color: var(--main-color); /*Pings Color. Original value is #f04747*/
    --text-normal: #dcddde; /*Text Color. You can change it to black if you use a white background. Original is #dcddde*/
    --text-link: var(--main-color); /*Links Color. Original value is #00b0f4*/
    --message-indicator-color: #fff; /*Message Color. Original value is #fff*/

    /*Other Settings*/
    --text-send-message-background: transparent; /*Sets the bg of the text area. Default is #40444b60*/
    --icon-image: url("https://cdn.discordapp.com/attachments/539180316447997974/651605523656867891/output.png");
    --main-border-radius: 30px; /*Border Radious for buttons, channels, etc. I recomend to NOT put 50%*/
    --font: "Product Sans"; /*Font of Discord. Original is: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif*/
}

/*PLEASE DONT TOUCH UNDER HERE*/
:root{--metadata-3: none;}
