.sidebar-2K8pFh{
    margin-left: 0 !important;
}

.membersWrap-2h-GB4, .searchResultsWrap-2DKFzt{
    margin-right: 0 !important;
}

.container-2Rl01u .animatedContainer-1pJv5C, .container-2Rl01u .bannerImage-1jOskm{
    opacity: 1;
}
